{{#partial "content"}}
<!--    <div class="card">-->
<!--    {{#if animals}}-->
<!--        <h1 class="text-white"> {{type}}</h1>-->
<!--        <h2 class="text-center" style="color:white;">Non-endangered animals</h2>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                {{#each animals}}-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="card p-4 mt-2">-->
<!--                            <h3>Animal species: {{ name }}</h3>-->
<!--                            <p>Type: {{ type }}</p>-->
<!--                            <p>Location: {{location}}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {{/each}}-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr class="mt-4 mb-4">-->
<!--    {{else}}-->
<!--        <h1 class="text-center">No animal to track.</h1>-->
<!--    {{/if}}-->
<!--    </div>-->
<!--    {{#if endangered}}-->
<!--        <h2 class="text-center" style="color: red">Endangered animals</h2>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                {{#each endangered}}-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="card p-4 mt-2">-->
<!--                            <h3>Animal species: {{ name }}</h3>-->
<!--                            <p>Type: {{ type }}</p>-->
<!--                            <p>Age: {{age}}</p>-->
<!--                            <p>Health status: {{health}}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {{/each}}-->
<!--            </div>-->
<!--        </div>-->
<!--    {{else}}-->
<!--        <h2>No endangered animal at the moment</h2>-->
<!--    {{/if}}-->
    <section class="container">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Animal's Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Animal's</th>
                    <th scope="col">Health Condition</th>
                </tr>
                </thead>
            <tbody class="font-weight-weight">
                {{#if animals}}
                {{#each animals}}
                <tr class="bg-dark text-white">
                    <td>{{ animalName }}</td>
                    <td>{{ type }}</td>
                    <td>{{ age }}</td>
                    <td>{{ health }}</td>
                </tr>
                {{/each}}
                {{/if}}
                {{#if common}}
                    {{#each common}}
                    <tr class="bg-secondary">
                        <td>{{ animalName }}</td>
                        <td colspan="3">{{ type }}</td>
                    </tr>
                    {{/each}}
                {{/if}}
            </tbody>
            </table>
    </section>

{{/partial}}
{{>layout.hbs}}